@import "compass/css3";

body {
  background: black;
  font-family: helvetica;
  font-size: 18px;
  color: white;
  margin: 0;
}

.set {
  
  padding: 30px;

  p {
    
    position: absolute;
    
    span {
      position: relative;
      -webkit-animation: fly 1s linear alternate;
    }
    
  }
  
}

@-webkit-keyframes fly {

  0% {
    opacity: 0;
    top: -30px;
    left: -30px;
  }
  
  50% {
    opacity: 0.5;

  }
  
  100% {
    opacity: 1;
    top: 0;
    left: 0;
  }

}