<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>PANGATNIG</title>
  <script src="../js/modernizr.min.js" type="text/javascript"></script>


    <link rel="stylesheet" href="../js/normalize.min.css">

  
      <link rel="stylesheet" href="../css/style5.css">

  
</head>

<body>
<header>
  <small>Gawain 2</small><br>
  <small>Panuto:</small><br>
  <small>Pindutin ang pangatnig sa hanay ng mga kahon.</small>
</header>
<div id="emc-score"></div>
<div class="wrap">
  <div class="row">
  <section data-quiz-item>
    <div class="question">Laganap ngayon ang salita ng Diyos kaya maraming tao ang nagbabago.</div>
    <div class="choices" data-choices='["Laganap","kaya","ang nagbabago"]'>
    </div>
  </section>
  <section data-quiz-item>
    <div class="question">Samakatuwid ang mga bata ay maaari na ngayong mag-aral ng libre sa lahat ng pampublikong paaralan.</div>
    <div class="choices" data-choices='["lahat","maaari","Sa makatuwid"]'>
    </div>
  </section>
  </div>
  <div class="row">
  <section data-quiz-item>
    <div class="question">Sa madaling salita ang lahat ay may proteksyon na sa bakuna ng DOH.</div>
    <div class="choices" data-choices='["Sa madaling salita","ang lahat","sa bakuna"]'>
    </div>
  </section>
   <section data-quiz-item>
     <div class="question">Anupa at ang mga tao ay masaya sa bagong pamunuan ng paaralan.</div>
    <div class="choices" data-choices='["masaya","ang mga tao","Anupa"]'>
    </div>
  </section>
  </div>
   <div class="row">
  <section data-quiz-item>
    <div class="question">Kung gayon, kayo ay maari ng tumayo at lumakad ng matuwid.</div>
    <div class="choices" data-choices='["maari","Kung gayon","kayo"]'>
    </div>
  </section>
  <section data-quiz-item>
    <div class="question">Maraming isda sa dagat kaya ang mga mangingisda ay sagana sa huli.</div>
    <div class="choices" data-choices='["kaya","sa huli","Maraming"]'>
    </div>
  </section>
  </div>
  <div class="row">
  <section data-quiz-item>
    <div class="question">Pasukan na anupa at ang mga nanay ay taranta na sa pagbili ng mga gamit pang eskwela.</div>
    <div class="choices" data-choices='["anupa","Pasukan na","ng mga gamit"]'>
    </div>
  </section>
  <section data-quiz-item>
    <div class="question">Kasama siya kaya naghanda na ang nanay ng baon.</div>
    <div class="choices" data-choices='["naghanda","kaya","ng baon"]'>
    </div>
  </section>
  </div>
  <div class="row">
  <section data-quiz-item>
    <div class="question">Madilim ang kalangitan sa makatuwid bubuhos ang malakas na ulan.</div>
    <div class="choices" data-choices='["Madilim","sa makatuwid","na ulan"]'>
    </div>
  </section>
  <section data-quiz-item>
    <div class="question">Siya ay mapagmahal sa bayan anupa at ginagalang siya sa kanilang bayan.</div>
    <div class="choices" data-choices='["Siya","kanilang bayan","anupa"]'>
    </div>
  </section>
  </div>
  <div class="submit">
  <button id="emc-submit">Ipasa ang sagot</button>
  <button> <a href="enrichmentcard.html">Bumalik</a></button>
  </div>
</div>

<footer>
</footer>

<script> if (typeof module === 'object'){window.module = module; module = undefined;} </script>
  <script src='../js/jquery.min.js'></script>
  <script  src="../js/index6.js"></script>
 <script> if (window.module) module = window.module; </script>



</body>

</html>
