<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>PANGATNIG</title>
  <script src="../js/modernizr.min.js" type="text/javascript"></script>


    <link rel="stylesheet" href="../js/normalize.min.css">

  
      <link rel="stylesheet" href="../css/style5.css">

  
</head>

<body>
<header>
  <small>Gawain 3</small><br>
  <small>Panuto:</small><br>
  <small>Pindutin ang pangatnig sa hanay ng mga kahon.</small>
</header>
<div id="emc-score"></div>
<div class="wrap">
  <div class="row">
  <section data-quiz-item>
    <div class="question">Kung ibig mong igalang ka ng iba, matuto ka munang gumalang sa iyong sarili.</div>
    <div class="choices" data-choices='["ng iba","Kung","matuto ka"]'>
    </div>
  </section>
  <section data-quiz-item>
    <div class="question">Pag nawala ang ilaw ng tadhana saka magdidilim ang sambayanan.</div>
    <div class="choices" data-choices='["saka","Pag nawala","ang sambayanan"]'>
    </div>
  </section>
  </div>
  <div class="row">
  <section data-quiz-item>
    <div class="question">Hindi nasusukat ang tapang kundi sa labanan.</div>
    <div class="choices" data-choices='["kundi","ang tapang","sa labanan"]'>
    </div>
  </section>
   <section data-quiz-item>
     <div class="question">Kapag masalita ang tao, asahan mo't kulang sa gawa.</div>
    <div class="choices" data-choices='["sa gawa","ang tao","Kapag"]'>
    </div>
  </section>
  </div>
   <div class="row">
  <section data-quiz-item>
    <div class="question">Kung sakaling hindi ka nagtagumpay sa una, subukin mong gawin muli.</div>
    <div class="choices" data-choices='["Kung gayon","Kung","sa una"]'>
    </div>
  </section>
  <section data-quiz-item>
    <div class="question">Tayo ay magsimba kung araw ng linggo kaya buhay naten ay pinagpapala.</div>
    <div class="choices" data-choices='["Tayo","ay magsimba","kung"]'>
    </div>
  </section>
  </div>
  <div class="row">
  <section data-quiz-item>
    <div class="question">Kapag ang bata ay lumaki sa layaw asahan mo sa pagtanda ay walang kahihinatnan.</div>
    <div class="choices" data-choices='["Kapag","kung","sa layaw"]'>
    </div>
  </section>
  <section data-quiz-item>
    <div class="question">Dahil sa matalino ka, ang iyong mga magulang ay tuwang tuwa</div>
    <div class="choices" data-choices='["mga magulang","sa matalino","Dahil sa"]'>
    </div>
  </section>
  </div>
  <div class="row">
  <section data-quiz-item>
    <div class="question">Samantalang ang ama ay nasa rurok ng tagumpay, nasaan naman ang anak na puno ng layaw.</div>
    <div class="choices" data-choices='["Samantalang","ang ama","ng layaw"]'>
    </div>
  </section>
  <section data-quiz-item>
    <div class="question">Dahil sa kasipagan ang lahat ay nagtatagumpay.</div>
    <div class="choices" data-choices='["ang lahat","nagtatagumpay","Dahil sa"]'>
    </div>
  </section>
  </div>
  <div class="submit">
  <button id="emc-submit">Ipasa ang sagot</button>
  <button> <a href="enrichmentcard.html">Bumalik</a></button>
  <button> <a href="last.html">Susunod na pahina</a></button>
  </div>
</div>

<footer>
</footer>

<script> if (typeof module === 'object'){window.module = module; module = undefined;} </script>
  <script src='../js/jquery.min.js'></script>
  <script  src="../js/index7.js"></script>
 <script> if (window.module) module = window.module; </script>



</body>

</html>
