<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>PANGATNIG</title>
  
  
  
      <link rel="stylesheet" href="../css/style3.css">

  
</head>

<body>
  

  <div id="quiz">
  <h1 style="padding: 10px;
  background: #27637C;
  color: white;" class="fstyle" id="quiz-name"></h1>
  <button id="submit-button">Ipasa ang sagot</button>
  <button id="next-question-button">Sunod na tanong</button>
  <button id="prev-question-button">Bumalik sa tanong</button>
  
  <div id="quiz-results">
    <p id="quiz-results-message"></p>
    <p id="quiz-results-score"></p>
  </div>
</div>
<br>
<br>
<br>
<button class="next">
  <a class="next" href="activitycard.html" type="button">Bumalik</a>
  </button>
  <script> if (typeof module === 'object'){window.module = module; module = undefined;} </script>
  <script src='../jquery/jquery1.min.js'></script>
    <script  src="../js/index2.js"></script>
 <script> if (window.module) module = window.module; </script>



</body>

</html>
