<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>PANGATNIG</title>
  <script src="../js/modernizr.min.js" type="text/javascript"></script>


    <link rel="stylesheet" href="../js/normalize.min.css">

  
      <link rel="stylesheet" href="../css/style5.css">

  
</head>

<body>

  <!-- questions taken from http://davidshariff.com/quiz/ -->
<header>
  <small>Gawain 1</small><br>
  <small>Panuto:</small><br>
  <small>Pindutin ang kahon na √ kung tama ang pangungusap</small><br>
  <small>Kapag ito ay mali, pindutin ang kahon ng tamang kasagutan.</small>
</header>
<div id="emc-score"></div>
<div class="wrap">
  <div class="row">
  <section data-quiz-item>
    <div class="question">Datapwat wala siyang alam, marami naman siyang kaibigan.</div>
    <div class="choices" data-choices='["√","Datapwat"]'>
    </div>
  </section>
  <section data-quiz-item>
    <div class="question">Gusto ka niya, subalit nahihiya siya na humarap sa iyo.</div>
    <div class="choices" data-choices='["√","subalit"]'>
    </div>
  </section>
  </div>
  <div class="row">
  <section data-quiz-item>
    <div class="question">Natuwa ang ama sa wakas dahil bumait ang kanyang anak.</div>
    <div class="choices" data-choices='["√","ang kanyang"]'>
    </div>
  </section>
   <section data-quiz-item>
     <div class="question">Siya ay matalino ngunit mapagbigay pa.</div>
    <div class="choices" data-choices='["√","ngunit"]'>
    </div>
  </section>
  </div>
   <div class="row">
  <section data-quiz-item>
    <div class="question">Sa lahat ng ito, hindi natututo ang tao dulit ng kanyang ka palaluan.</div>
    <div class="choices" data-choices='["√","Sa lahat ng ito"]'>
    </div>
  </section>
  </div>
  <div class="submit">
  <button id="emc-submit">Ipasa ang sagot</button>
  <button> <a href="enrichmentcard.html">Bumalik</a></button>
  </div>
</div>

<footer>
</footer>

<script> if (typeof module === 'object'){window.module = module; module = undefined;} </script>
  <script src='../js/jquery.min.js'></script>
  <script  src="../js/index5.js"></script>
 <script> if (window.module) module = window.module; </script>



</body>
</html>
