<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>PANGATNIG</title>
  
  
   <link rel='stylesheet' href='../jquery/jquery-ui.css'>
  <link rel="stylesheet" href="../css/style4.css">

  
</head>
<body>

	<div class="quiz-wrapper">
		<p class="question-description">Ilagay ang pangatnig sa tamang kahon upang mabuo ang diwa ng pangungusap.</p>
		<ul class="options">
			<li class="title">Pagpipilian</li>
			<li class="option" data-target="a">at</li>
			<li class="option" data-target="b">kaya't</li>
			<li class="option" data-target="c">maging</li>
			<li class="option" data-target="d">kung</li>
			<li class="option" data-target="e">subalit</li>
			<li class="option" data-target="f">at</li>
			<li class="option" data-target="g">kaya</li>
			<li class="option" data-target="h">maging</li>
			<li class="option" data-target="i">kung</li>
			<li class="option" data-target="j">subalit</li>
			<li class="option" data-target="k">kaya</li>
		</ul>
	<div class="answers">
		<ol>
			<li><span class="target" data-accept="d">&nbsp;</span> sakaling mabigyan ng pagkakataon ay pipiliin kong maging guro. </li>
			<br>
			<li>Ikaw man <span class="target" data-accept="a">&nbsp;</span> ako ay walang karapatang manghusga sa ating kapwa. </li>
			<br>
			<li>Likas na mapagmalasakit sa bayan <span class="target" data-accept="b">&nbsp;</span> minamahal siya ng mga taong kanyang natulungan. </li>
			<br>
			<li>Ang aking mga magulang <span class="target" data-accept="c">&nbsp;</span> ang aking mga kapatid ay nauunawaan ang lahat.</li>
			<br>
			<li>Maraming pag kakataong kinausap siya ng mga dayuhan <span class="target" data-accept="g">&nbsp;</span> pinili niyang manindigan sa kanyang paniniwala. </li>
			<br>
			<li>Ikaw <span class="target" data-accept="f">&nbsp;</span> ang lahat ng iyong kamag-aaral ay dapat dumalo sa flag ceremony. </li>
			<br>
			<li>Siya ay natapos na sa pag-aaral<span class="target" data-accept="k">&nbsp;</span> tinutulungan niya ang kanyang mga kapatid na nakababata upang makatapos rin.</li>
			<br>
			<li><span class="target" data-accept="h">&nbsp;</span> na tahanan ay natutuhan din ang kabutihang asal.</li>
			<br>
			<li>Ang araw ay sumisikat <span class="target" data-accept="e">&nbsp;</span> sa ibang lugar ay umuulan.</li>
			<br>
			<li>Ang mga bata<span class="target" data-accept="j">&nbsp;</span> ang matatanda ay masaya.</li>
		</ol>
	</div>
	 <button type="submit" value="submit">Ipasa ang sagot</button>
	 <div class="lightbox-bg"></div>
	 <div class="status confirm">
	   <p> 10/10 <br>Magaling</p>
		<button class="next">
  			<a class="next" href="gawain2.3.html" type="button">Susunod na pahina</a>
  		</button>
	 </div>
	 <div class="status deny">
	   <p>Pakitapos ang pagsusulit</p>
	 </div>
	 <button class="next">
  			<a class="next" href="assessmentcard.html" type="button">Bumalik</a>
  		</button>
	</div>
	<script> if (typeof module === 'object'){window.module = module; module = undefined;} </script>
  <script src='../jquery/jquery.min.js'></script>
<script src='../jquery/jquery-ui.min.js'></script>
  <script src='../jquery/jquery.ui.touch-punch.min.js'></script>
    <script  src="../js/index4.js"></script>
 <script> if (window.module) module = window.module; </script>

</body>

</html>
