<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>PANGATNIG</title>
  
  
  <link rel='stylesheet' href='../jquery/jquery-ui.css'>
  <link rel="stylesheet" href="../css/style4.css">

  
</head>

<body>

	<div class="quiz-wrapper">
		<p class="question-description">Ilagay ang pangatnig sa tamang kahon upang mabuo ang diwa ng pangungusap.</p>
		<ul class="options">
			<li class="title">Pagpipilian</li>
			<li class="option" data-target="2">saka</li>
			<li class="option" data-target="3">kung hindi</li>
			<li class="option" data-target="1">kung</li>
			<li class="option" data-target="5">kung sakali</li>
			<li class="option" data-target="4">kapag</li>
		</ul>
	<div class="answers">
		<ol>
			<li>Si andres Bonifacio ang sumulat ng "Pag-ibig sa tinubuang lupa. Si joke Rizal naman ang sumulat ng "Ang Huling Paalam". <br><br><span class="target" data-accept="1">&nbsp;</span></li>
			<br>
			<li>Nagkaisa ang mga Pilipino na labanan ang Espanyol. Nakataya ang Pilipinas sa kuko ng mga dayuhan. <br><br><span class="target" data-accept="2">&nbsp;</span></li>
			<br>
			<li>Ang mga Pilipino ay likas na matapang. Malalaki ang kanilang puso para sa bayan. <br><br><span class="target" data-accept="3">&nbsp;</span></li>
			<br>
			<li>Likas na matalino ang mga Pilipino. Hindi sila napaglalalangan ng mga dayuhan. <br><br><span class="target" data-accept="4">&nbsp;</span></li>
			<br>
			<li>Walang bagay na di madadaan sa usapan. Ang bawat isa ay matututong magpakumbaba. <br><br><span class="target" data-accept="5">&nbsp;</span></li>
		</ol>
	</div>
	 <button type="submit" value="submit">Ipasa ang sagot</button>
	 <div class="lightbox-bg"></div>
	 <div class="status confirm">
	   <p> 10/10 <br>Magaling</p>
	   <button class="next">
  			<a class="next" href="dashboard.html" type="button">Bumalik</a>
  		</button>
	 </div>
	 <div class="status deny">
	   <p>Pakitapos ang pagsusulit</p>
	 </div>
	 <button class="next">
  			<a class=" next"href="assessmentcard.html" type="button">Bumalik</a>
  		</button>
	</div>
	<script> if (typeof module === 'object'){window.module = module; module = undefined;} </script>
  <script src='../jquery/jquery.min.js'></script>
<script src='../jquery/jquery-ui.min.js'></script>
<script src='../jquery/jquery.ui.touch-punch.min.js'></script>
    <script  src="../js/index4.js"></script>
 <script> if (window.module) module = window.module; </script>

</body>

</html>
